* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main > div {
  align-content: center;
  text-align: center;
  font-size: 20px;
}

.event-header {
  text-align: center;
  font-size: 40px;
}

.container-sm {
  float: center !important;
}

.col-sm-6 {
  text-align: -webkit-center;
}

.title {
  font-size: 25px;
  color: black;
}

.subtitle {
  font-size: 15px;
  color: black;
}

.no-padding {
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.img-size {
  object-fit: cover;
  max-width: auto;
  max-height: auto;
}

.background-color-for-event {
  background:whitesmoke;
}

.content{
  border: solid blue;
  grid-template-columns: 7fr 3fr;
  margin: 3em auto;
  width: 90vw;
  max-width: 1000px;
}

.main{
  margin: 2em;
}

.image-list-scale {
  width: 500px;
  /* height: 100%; include this if you don't plan to use align-items: center */ 
  min-width: 0;
}

.image-list-scale1 {
  width: 500px;
  min-width: 0px;
  height: 450px;  
}

.text{
  word-break: break-all;
}

.title-event{
  display: flex;
  object-fit: cover;
}

.footer{
  padding: 1em 4.5em;
  background:whitesmoke;
  text-align: center;
  color: black;
  font-family: "Jua", sans-serif;
  margin-top: 3em
}
  
.footer > a{
  text-align: center;
  color: black;
  font-family: "Jua", sans-serif;
  text-decoration: none; 
}
  
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}