starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.col-sm-6 {
  text-align: center;
  padding: 5%;
}

.heading {
  padding-top: 5%;
}

.faq {
  text-align: justify !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
}

.connect-img {
  width: 490px;
  height: 860px;
  object-fit: cover;
}
