.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.club-name {
    border: 1px solid #083246;
    outline: 10px double hsla(9, 10%, 0%, 0.5);
    margin-top: 100%;
    background-color: transparent;
    font-family: sans-serif;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 45rem;
  width: auto;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container > div {
  background-color: #083246;
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: white
}

main > div {
  align-content: center;
  text-align: center;
  font-size: 40px;
}

.image-list {
  background-color: white;
  padding: 20px;
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center; /* added */
}

.image-list-scale {
  width: 400px;
  /* height: 100%; include this if you don't plan to use align-items: center */ 
  min-width: 0;
}

.link-size {
  font-size: 20px;
  border: solid;
  border-width: 10px;
  border-color: white;
  background-color: white;
  color: #083246;
}

.membership-btn {
  color: #083246;
  display: inline-block;
}

.background-color-for-about-us {
  background-color: #083246;
  color: white;
}